# https://stackoverflow.com/a/64128161

[submodule "mod-core-ores"]
	path = mods/core-ores
	url = ../Mod-Core-Ores
[submodule "mod-core-redstone"]
	path = mods/core-redstone
	url = ../Mod-Core-Redstone
[submodule "mod-core-redstone-extra"]
	path = mods/core-redstone-extra
	url = ../Mod-Core-Redstone-Extra
