# https://stackoverflow.com/a/64128161

[submodule "mods/core-redstone"]
	path = mods/core-redstone
	url = ../Mod-Core-Redstone
[submodule "mod-core-ores"]
	path = mods/core-ores
	url = ../Mod-Core-Ores
