[submodule "mod-core-ores"]
	path = mods/core-ores
	url = ../Mod-Core-Ores
[submodule "mods/core-redstone"]
	path = mods/core-redstone
	url = ../Mod-Core-Redstone

# https://stackoverflow.com/a/64128161
